<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ifishy"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.result.ResultActivity"
            android:exported="false"
            android:theme="@style/Theme.FullScreen"
            />
        <activity
            android:name=".ui.activity.scan.ScanActivity"
            android:exported="false"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".ui.fragment.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.bookmark.BookmarkActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.article.ListArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.add_post.AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.faq.FrequentlyAskMenu"
            android:exported="false" />
        <activity
            android:name=".ui.activity.detail_post.DetailPostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.detail_article.DetailArticleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.auth.SignUpActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.opening.OpeningActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.onboarding.OnBoardingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.main.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>